{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ username }}</h1>

    Website
    {% if blog is not empty %}
        <a href="{{ blog }}">{{ blog }}</a>
    {% else %}
        -
    {% endif %}
    <br>

    {% include('main/resume_languages.html.twig') %}
    <br>

    {% include('main/resume_repositories.html.twig') %}

{% endblock %}