Languages
{% if languages is not empty %}
    <ul>
        {% for key, language in languages %}
            <li>{{ key }}  ({{ language }} %)</li>
        {% endfor %}
    </ul>
{% else %}
    -
{% endif %}